/*==============================
=            NAVBAR            =
==============================*/

#logo {
	padding: 0 10px 0 0;
	img {
		height: 100%;
		width: auto;
	}
}

#logo-text {
	span {
		font: 36px 'Poiret One';
		line-height: 15px;
	}
}

.navbar-nav {
	li {
		font: 24px 'Poiret One', cursive;
		padding: 0px 10px;
	}
}

.navbar {
	border: none;
}

.container {
	max-width: 1000px;
	margin: auto;
}

/*============================
=            HOME            =
============================*/

.jumbotron {
	background: #fff;
	h1, h2 {
		font-family: 'Lobster', cursive;
	}
	img {
		max-width: 500px;
		height: auto;
	}
	p {
		font-family: Lora,sans-serif;
	}
	span {
		font: .7em Arial,sans-serif;
		display: inline-block;
	}
}

/*============================
=            PLAY            =
============================*/

// .piano-back {
// 	position: absolute;
// 	border: 1px solid #000;
// 	border-radius: 10px;
// 	width: 600px;
// 	height: 200px;
// 	background: #999;
// }

$width_pct: 50%;

@mixin layout($margin, $width, $z_index) {
	position: absolute;
	list-style-type: none;
	li {
		float: left;
		margin-right: $margin;

		img {
			width: $width;
			height: auto;
			z-index: $z_index;
		}
	}
}

.piano-back {
	@include layout(-59px, 45%, 0);
	// list-style-type: none;

	// li {
	// 	float: left;
	// 	margin-right: -15px;

	// 	img {
	// 		width: 50px;
	// 		height:auto;
	// 		z-index: -1;
	// 	}

	:first-child img {
		border-top-left-radius: 15px;
		border-bottom-left-radius: 15px;
	}

	:last-child img {
		border-top-right-radius: 15px;
		border-bottom-right-radius: 15px;
	}
}

.white-keys {
	@include layout(0, 100%, 1);
	li {
		margin-top: 60px;

		&:first-child {
			margin-left: 18px;
		}
	}


}

.black-keys {
	@include layout(0, 100%, 2);

	li {
		margin-top: 65px;
		margin-right: 5px;
		&:first-child {
			margin-left: 28px;
		}
	}
}

.black-hidden {
	visibility: hidden;
}

.piano{
	width: 960px;
}