<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>midiKeys</title>
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/main.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link href='http://fonts.googleapis.com/css?family=Poiret+One|Roboto|Lora|Lobster' rel='stylesheet' type='text/css'>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
		<script src="app/app.js"></script>
		<script src="app/controllers/DrawCtrl.js"></script>
		<script src="app/controllers/ConnectCtrl.js"></script>
		<script src="app/lib/midi.js"></script>
		<script src="app/js/queue.js"></script>
		<script src="app/js/tree.js"></script>
		<script src="app/directives/inputDirective.js"></script>
		<script src="app/services/inputFactory.js"></script>
		<script src="app/services/chordFactory.js"></script>
		<script src="app/services/scaleFactory.js"></script>
		<script src="app/lib/howler.min.js"></script>
	</head>

	<body>
		<nav class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<a id="logo" href="index.html" class="navbar-brand">
						<img src="img/icon.png" alt="">
					</a>
					<a id="logo-text" href="index.html" class="navbar-brand"><span>midiKeys</span></a>
				</div>
				<ul class="nav navbar-nav">
					<li><a href="index.html">Home</a></li>
					<li class="active"><a href="play.html">Play</a></li>
					<li><a href="practice.html">Practice</a></li>
					<li><a href="contact.html">Contact</a></li>
				</ul>
				<form action="" class="navbar-form navbar-right">
					<div class="container-fluid">
						<button type="button" class="btn btn-primary">Log in</button>
						<button type="button" class="btn btn-success">Sign Up</button>
					</div>
				</form>
			</div>
		</nav>
		<div class="container piano" ng-app="app">
			<div ng-controller="ConnectCtrl as conn">
				<div ng-controller="DrawCtrl as draw">
					<div class="jumbotron">
						<h1 class="col-xs-12">MIDI keyboard</h1>
						<select class="select-midi" ng-model="conn.activeDevice" class="form-control" ng-options="device.manufacturer + ' ' + device.name for device in conn.devices">
						    <option value="" disabled>Available MIDI devices</option>
						</select>
						<div class="piano-container">
							<div class="piano-back-container">
								<img class="piano-back" ng-src={{draw.piano_back}} ng-repeat="t in draw.range(21) track by $index" draggable="false" style="left:{{$index*37}}px;"/>
							</div>
							<div class="white-key-container">
								<img
									press-white-key
									class="white-key"
									ng-src={{draw.white_key}}
									ng-repeat="t in draw.range(52) track by $index"
									draggable="false"
									style="left:{{$index*14}}px;"
									index="{{$index}}"
									key-map="conn.key_map"
									key-vel="conn.key_vel"
									index-white="conn.index_white"
								/>
							</div>
							<div class="black-key-container">
								<div ng-repeat="key in draw.keys track by $index" ng-switch="key.black">
									<img
										press-black-key
										class="black-key"
										ng-switch-when="true"
										ng-src={{draw.black_key}}
										draggable="false"
										style="left:{{$index*14}}px;"
										index="{{$index}}"
										key-map="conn.key_map"
										key-vel="conn.key_vel"
										index-black="conn.index_black"
									/>
								</div>
							</div>
						</div>
						<div class="display">
							<span>Chord played: {{conn.chord}}</span>
							<span>Scale played: {{conn.scale}}</span>
						</div>
<!-- 						<div class="quiz">
							<p>Practice: Play this chord!</p>
							<practice-chord
								chord="conn.chord"
								quiz-chord="conn.quiz_chord"
							>
							</practice-chord>
							<p>Practice: Play this scale!</p>
							<practice-scale
								scale="conn.scale"
								quiz-scale="conn.quiz_scale"
							>
							</practice-scale> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>

</html>
